<section class="main-section">
    <div class="row">
        <div class="large-12 columns">
            <h1>About</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="panel" style="text-align: justify;">
                <br>

                <h3>Real-time visualisation of bus delays in London in collaboration with Transport for London</h3>
                <br>

                <p>
                    The focus of this project is to develop a tool for automating the data analysis
                    carried out by CentreComm’s staff. This tool would increase the productivity
                    of the control room team as they would be able to focus on solving the problems
                    rather then trying to find them.
                </p>

                <p>
                    London bus network is one of the largest and most reliable network in the
                    world responsible for more than 2.4 billion passenger journeys a year. The
                    constant population growth of England’s capital has been also driving the expansion
                    and improvement of the transport networks across the city. Transport
                    for London (TFL) bus network is recognised as one of the top in the world in
                    terms of reliability, affordability and cost-effectiveness. The capital’s bus
                    network is continually increasing along with the city’s population.
                    Maintaining such a large scale network requires careful planning and monitoring.
                    Being able to maintain such high reliability service levels requires
                    employing new technologies. This also helps keep costs down and thus keeping
                    the service more affordable. Each TFL bus in the network has been equipped
                    with state of the art GPS enabled Automated Vehicle Location System (AVL).
                    This system generates a large set of data which helps CentreComm staff
                    and bus operators in managing and maintaining the smooth operation of the
                    network. However there are currently problems for which the control room staff
                    are required to manually analyse large data sets in order to discover where are
                    the problems occurring in the network. This is very impractical and time
                    consuming and they currently ultimately rely on bus operators and drivers to
                    notify them of possible problem before they go and further investigate it. This
                    is where this project comes in place to address this problem by proposing a
                    prototype tool which would analyse this data and pro-actively highlight the
                    problems in the bus network.
                </p>

                <div class="row" style="text-align: left;">
                    <hr size="3" style="padding-top:1em;"/>
                    <div class="large-4 medium-4 columns ri">
                        <p><a href="http://uk.linkedin.com/in/kdraganov" target="_blank">Konstantin Draganov</a><br/>Author
                        </p>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <p><a href="http://steffen-zschaler.de/" target="_blank">Dr Steffen Zschaler</a><br/>Project
                            supervisor</p>
                    </div>
                    <div class="large-4 medium-4 columns">
                        <p><a href="http://tfl.gov.uk/corporate/about-tfl/" target="_blank">TFL</a><br/>Data provider
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>