<div id="termsModal" class="reveal-modal" data-reveal  style="text-align: justify">
    <h2>Terms & conditions</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget accumsan diam. Vivamus neque libero, rhoncus
        vitae elit et, tincidunt sollicitudin justo. Quisque non mauris quis lorem fringilla congue sit amet vitae
        risus. Sed tortor enim, auctor a tincidunt vehicula, pellentesque consequat justo. Ut dictum est sit amet sapien
        suscipit semper. Mauris sit amet lacus augue. Etiam nisl nibh, auctor in elit eget, vulputate iaculis enim.
        Suspendisse quis luctus metus. Quisque et lacinia sem. Fusce ut faucibus lacus. Quisque quis erat metus. Mauris
        scelerisque rutrum quam nec mollis. Fusce nec metus vitae diam facilisis porta. Nunc rutrum, enim eget efficitur
        faucibus, urna odio placerat nunc, vel rhoncus mi urna ac enim.
    </p>

    <p> Vivamus sit amet bibendum nunc. Duis et diam malesuada elit vulputate dictum. Curabitur ut scelerisque elit.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. In elementum ultricies mi sit amet egestas.
        Quisque in mi convallis, vestibulum tellus vitae, vehicula nisl. Fusce auctor risus eu massa blandit maximus.
        Praesent bibendum eget arcu ac volutpat.
    </p>

    <p> Vestibulum sollicitudin arcu felis, vitae sodales nisi finibus a. Quisque neque est, pulvinar ut elementum
        vitae, pellentesque in arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan laoreet
        augue. Vestibulum nisi neque, malesuada non est porttitor, tincidunt dictum lacus. Proin ac odio id leo ornare
        ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>

    <p> Nam sollicitudin turpis enim, sit amet euismod tellus fringilla consectetur. Duis id accumsan augue. Sed
        fermentum nulla nisi, et blandit ipsum maximus eget. Proin pulvinar in nisi et fermentum. Mauris a ullamcorper
        ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tellus in mi fermentum suscipit. Ut
        consequat egestas dictum. Vestibulum ullamcorper odio lacus, quis auctor eros ultrices et.
    </p>

    <p> Duis viverra maximus condimentum. Suspendisse potenti. Cras sagittis pretium urna eget eleifend. Sed in rutrum
        metus, vitae faucibus lacus. Suspendisse auctor pellentesque odio, at molestie nibh cursus et. Morbi placerat
        purus porttitor tincidunt luctus. Cras at vehicula arcu, eget faucibus risus. Mauris leo nisi, efficitur in
        ligula ut, malesuada commodo nunc. Vestibulum tristique at nibh ut ultrices.
    </p>
    <a class="close-reveal-modal">&#215;</a>
</div>